.csdl-attp .h-30 {
    height: 30px !important;
}

.csdl-attp .h-60 {
    height: 60px !important;
}

.csdl-attp .w_100 {
    width: 100% !important;
}

.csdl-attp .w-100 {
    width: 100px !important;
}

.csdl-attp .w-130 {
    width: 130px !important;
}